@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
    margin: 0;
    background-color: #292a2c;
}

.main-game {
    padding: 5%;
    width: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'verde vermelho'
    'amarelo azul';
    grid-gap: 10px;
    border: 1px solid #292a2c;
    background-color: #292a2c;
    border-radius: 100%;
    width: 500px;
    height: 500px;
}

.blue {
    grid-area: azul;
    background-color: blue;
    border-bottom-right-radius: 100%;
}

.red {
    grid-area: vermelho;
    background-color: red;
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: amarelo;
    background-color: yellow;
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: verde;
    background-color: green;
    border-top-left-radius: 100%;
}

.selected {
    opacity: 0.4;
}

/* LOGOTIPO */

.logo {
    display: grid;
    justify-content: center;
    font-size: 45pt;
    color: #e2e2e2;
    font-family: 'russo one';
    margin-top: 10px;
    text-shadow:  1px 7px 30px rgb(92, 81, 81);
    border-top: 5px solid #6a6a6a;
    border-bottom: 5px solid #6a6a6a;
}



/* RESPONSIVIDADE */

@media (max-width: 600px) {
    .main-game {
        display: flex;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .genius {
        display: grid;
        width: 300px;
        height: 300px;
    }
}